.row, .row > div{
    /*border: 1px solid black;*/
}


body{
  /* background-color: #ffcc00;*/
  background-color:#7FFFD4;
 /* background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
}

#menu{
    text-align: right; 
    padding-right: 25px;
	margin-bottom: 10px;
}

#menu > *{
    width: 45%;
    display: inline;
}

fieldset ul{
    min-height: 50px
}

fieldset ul li {
    list-style:none; 
    float: left;
}

fieldset ul li span{
    color: white;
    font-size: 8pt;
    margin-right: 5px;
}

fieldset ul li a{
    color: white;
    font-size: 20px;
    margin: 8px 0 0 15px;
    float: left;
}
fieldset ul li a:hover{
    text-decoration: none;
    color: white;
}

#unoff-box li, #air-box li{
    /*background: none repeat scroll 0 0 rgb(244, 61, 115);*/
    /*border:1px solid #d81c53;*/
    /*width: 60px;*/
    background: url("../images/road.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 63px;
    margin: 0 10px 5px;
}

#line-box li {
    background: url("../images/car.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 63px;
    margin:0 10px 5px 0;
}

#road-box li, #trans-box li {
    background: url("../images/road.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 63px;
    margin-bottom: 5px
}

#hill-box li {
    background: url("../images/hill.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 48px;
    width: 63px;
    margin-bottom: 5px;
}

.red{
    color: red;
}
.countdowntimer div b {
color:black;
}
.green, fieldset ul li span, legend, #sms_popup{
    color: black;
	font-weight:bold;
}
.green, fieldset ul li span{
    color: black;
	font-weight:bold;
}

#sms_popup {font-size: 15px;}

.fwnumber {
	padding: 5px 9px;
	border-radius: 3px;
	border: none;
	background: white!important;
	cursor: text;
	text-align: left;
}